{% block basepost %}
{% load crispy_forms_tags %}

<div class="p-4" x-data="{open:false}">
    <div class="col-12 border border-1 border-primary p-2 rounded-3">
        <div class="d-flex flex-row bd-highlight align-items-center">
            <div class="p-2">
                <form class="form-horinzontal" action="{% url 'posts:like' post.id %}" method="post">
                    <span class="text-xs">{{ post.likes.all.count }} Likes</span>
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <button class="btn btn-outline-primary redondeado {% if not user.is_authenticated %} disabled{% endif %}" type="submit">
                        <i class="fa-regular fa-thumbs-up fa-2"></i>
                    </button>
                </form>
            </div>
            <div class="p-2">
                <form class="form-horinzontal" action="{% url 'posts:dislike' post.id %}" method="post">
                    <span class="text-xs">{{ post.dislikes.all.count }} Dislikes</span>
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <button class="btn btn-outline-primary redondeado {% if not user.is_authenticated %} disabled{% endif %}" type="submit">
                        <i class="fa-regular fa-thumbs-down fa-2"></i>
                    </button>
                </form>
            </div>
            <div class="p-2">
                <span class="text-xs">Comentar</span>
                <button class="btn btn-outline-primary redondeado {% if not user.is_authenticated %} disabled{% endif %}" type="button" data-bs-toggle="modal" data-bs-target="#modalComentario">
                    <i class="fa-regular fa-message"></i>
                </button>
            </div>
            
            
          </div>
    </div>
</div>


{% for coment in comentarios %}
    <code>{{coment.comentario}} </code>   
    
{% endfor %}
    
    

<!-- Modal -->
<div class="modal fade" id="modalComentario" tabindex="-1" aria-labelledby="modalComentarioLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalComentarioLabel">Escribir comentario</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="" method="post">
            <div class="modal-body">                
                {% csrf_token %}
                {{ form.media }}                                  
                {{ form | crispy }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary redondeado" data-bs-dismiss="modal">Salir</button>
                <button type="submit" id="botonVentanaModal" class="btn btn-primary redondeado">Guardar</button>
            </div>
        </form>
    
      </div>
    </div>
  </div>

{% endblock %}

