{% block basepost %}
{% load crispy_forms_tags %}
{% load humanize %}

<div class="p-4">
    <div class="col-12 border border-1 border-primary p-2 rounded-3">
        <div class="d-flex flex-row bd-highlight align-items-center">
            {% if request.user == post.autor %}
            <div class="p-2">                
                <a href="{% url 'posts:editarpost' post.slug %}" class="btn btn-outline-primary redondeado" type="button">
                    <i class="fa-regular fa-pen-to-square"></i>
                </a>
                
            </div>
            <div class="p-2">
                <a href="{% url 'posts:borrarpost' post.slug %}" class="btn btn-outline-primary redondeado" type="button">
                    <i class="fa-regular fa-trash-can"></i>
                </a>
                
            </div>
            {% endif %}
            <div class="p-2">
                <form class="form-horinzontal" action="{% url 'posts:like' post.id %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <button class="btn btn-outline-primary redondeado {% if not user.is_authenticated %} disabled{% endif %}" type="submit">
                        {{ post.likes.all.count }} <i class="fa-regular fa-thumbs-up fa-2"></i>
                    </button>
                </form>
            </div>
            <div class="p-2">
                <form class="form-horinzontal" action="{% url 'posts:dislike' post.id %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <button class="btn btn-outline-primary redondeado {% if not user.is_authenticated %} disabled{% endif %}" type="submit">
                        {{ post.dislikes.all.count }} <i class="fa-regular fa-thumbs-down fa-2"></i>
                    </button>
                </form>
            </div>
            <div class="p-2">
                
                <button class="btn btn-outline-primary redondeado {% if not user.is_authenticated %} disabled{% endif %}" type="button" data-bs-toggle="collapse" data-bs-target="#collapseComentario">
                    <i class="fa-regular fa-message"></i>
                </button>
            </div>           
            
          </div>
    </div>
    <div class="collapse" id="collapseComentario">
        <div class="card-body">
            <form action="" method="post">
                {% csrf_token %}                                                 
                {{ form | crispy }}
                <button type="submit" class="btn btn-primary redondeado">Publicar</button>
            </form>
        </div>        
    </div>
</div>

<div class="container">
    {% for coment in comentarios %}
    {% if coment.is_parent %}
    <div class="row mb-3">
        <div class="col-12">            
            
            <article class="card h-100 border border-1 border-info">
                <div class="card-body">
                    <div class="d-flex mb-3">
                        
                        <img src="{{ coment.autor.perfil.foto.url }}" alt="" width="60px" class="border border-info border-3 rounded-circle">
                            <div class="ps-3">
                                <h6 class="m-0"><a href="{% url 'cuentas:perfil' coment.autor %}">{{coment.autor}}</a></h6>
                                <p class="p-0 h6">{{coment.creado | naturaltime }}</p>
                            </div>
                        </div>
                    <div class="">                                
                        <p class="fs-6 lh-1">{{coment.comentario}}</p>
                    </div>
                </div>
                <div class="d-flex justify-content-end">
                    {% if request.user == coment.autor %}
                        <div class="d-flex align-items-end p-1">
                            <a href="{% url 'posts:editarcomentario' post.slug coment.id %}" class="btn btn-outline-primary redondeado {% if not user.is_authenticated %} disabled{% endif %}" type="submit">
                                <i class="fa-regular fa-pen-to-square"></i>
                            </a>
                        </div>
                        
                        <div class="d-flex align-items-end p-1">
                            <a href="{% url 'posts:borrarcomentario' post.slug coment.id %}" class="btn btn-outline-primary redondeado {% if not user.is_authenticated %} disabled{% endif %}" type="submit">
                                <i class="fa-regular fa-trash-can"></i>
                            </a>
                        </div>
                    {% endif %}
                    <div class="d-flex align-items-end p-1">
                        <form class="form-horinzontal" action="{% url 'posts:comentlike' post.slug coment.pk %}" method="post">
                            
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{ request.path }}">
                            <button class="btn btn-outline-primary redondeado {% if not user.is_authenticated %} disabled{% endif %}" type="submit">
                                <span class="text-xs">{{ coment.likes.all.count }}</span>
                                <i class="fa-regular fa-thumbs-up fa-2"></i>
                                
                            </button>
                        </form>
                    </div>
                    <div class="d-flex align-items-end p-1">
                        <form class="form-horinzontal" action="{% url 'posts:comentdislike' post.slug coment.pk %}" method="post">                            
                            
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{ request.path }}">
                            <button class="btn btn-outline-primary redondeado {% if not user.is_authenticated %} disabled{% endif %}" type="submit">
                                <span class="text-xs">{{ coment.dislikes.all.count }}</span>
                                <i class="fa-regular fa-thumbs-down fa-2"></i>
                            </button>
                        </form>
                    </div>
                    
                        <div class="d-flex align-items-end p-1">
                            <button class="btn btn-outline-primary redondeado {% if not user.is_authenticated %} disabled{% endif %}" type="button" data-bs-toggle="collapse" data-bs-target="#collapseResponderComentario{{coment.pk}}">
                                <i class="fa-regular fa-message"></i>
                            </button>
                        </div>
                    
                    
                </div>        
            </article>  
                 
        </div>
        
        <div class="collapse" id="collapseResponderComentario{{coment.pk}}">
            <div class="card-body">
                <form action="{% url 'posts:respondercoment' post.slug coment.id %}" method="post">
                    {% csrf_token %}                                                 
                    {{ form | crispy }}
                    <button type="submit" class="btn btn-primary redondeado">Publicar</button>
                </form>
            </div>               
        </div>    

    </div>
    <div class="d-flex flex-row-reverse mb-3">
        <div class="col-11">
            {% for child_comment in coment.children %}
            <div class="mb-3">
                <article class="card h-100 border border-1 border-info">
                    <div class="card-body">
                        <div class="d-flex mb-3">
                            
                            <img src="{{ child_comment.autor.perfil.foto.url }}" alt="" width="60px" class="border border-info border-3 rounded-circle">
                                <div class="ps-3">
                                    <h6 class="m-0"><a href="{% url 'cuentas:perfil' child_comment.autor %}">{{child_comment.autor}}</a></h6>
                                    <p class="p-0 h6">{{child_comment.creado | naturaltime }}</p>
                                </div>
                            </div>
                        <div class="">                                
                            <p class="fs-6 lh-1">{{child_comment.comentario}}</p>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end">
                        {% if request.user == child_comment.autor %}
                            <div class="d-flex align-items-end p-1">
                                <a href="{% url 'posts:editarcomentario' post.slug child_comment.id %}" class="btn btn-outline-primary redondeado {% if not user.is_authenticated %} disabled{% endif %}" type="submit">
                                    <i class="fa-regular fa-pen-to-square"></i>
                                </a>
                            </div>
                            
                            <div class="d-flex align-items-end p-1">
                                <a href="{% url 'posts:borrarcomentario' post.slug child_comment.id %}" class="btn btn-outline-primary redondeado {% if not user.is_authenticated %} disabled{% endif %}" type="submit">
                                    <i class="fa-regular fa-trash-can"></i>
                                </a>
                            </div>
                        {% endif %}
                        <div class="d-flex align-items-end p-1">
                            <form class="form-horinzontal" action="{% url 'posts:comentlike' post.slug child_comment.pk %}" method="post">
                                
                                {% csrf_token %}
                                <input type="hidden" name="next" value="{{ request.path }}">
                                <button class="btn btn-outline-primary redondeado {% if not user.is_authenticated %} disabled{% endif %}" type="submit">
                                    <span class="text-xs">{{ child_comment.likes.all.count }}</span>
                                    <i class="fa-regular fa-thumbs-up fa-2"></i>
                                    
                                </button>
                            </form>
                        </div>
                        <div class="d-flex align-items-end p-1">
                            <form class="form-horinzontal" action="{% url 'posts:comentdislike' post.slug child_comment.pk %}" method="post">                            
                                
                                {% csrf_token %}
                                <input type="hidden" name="next" value="{{ request.path }}">
                                <button class="btn btn-outline-primary redondeado {% if not user.is_authenticated %} disabled{% endif %}" type="submit">
                                    <span class="text-xs">{{ child_comment.dislikes.all.count }}</span>
                                    <i class="fa-regular fa-thumbs-down fa-2"></i>
                                </button>
                            </form>
                        </div>
                        
                       
                        
                    </div>        
                </article>  
            </div>
            {% endfor %}
        </div>  
    </div>
    
    {% endif %}
    {% endfor %}
    
</div>


    


{% endblock %}

