{% extends 'base.html' %}
{% load static %}
{% block titulo %}Miembros{% endblock titulo %}

{% block content %}
<style>
    .scrollspy-example .active{
        background-color: blue;
    }
</style>
<body class="position-relative" data-bs-spy="scroll" data-bs-target="#list-example">


    <div class="container">
        <div class="row">
            <div class="col-4">
                <div id="list-example" class="list-group">

                    {% for cargo in cargos %}
                    <a class="list-group-item list-group-item-action" href="#{{cargo}}">{{cargo}}</a>
                    {% endfor %}

                </div>
            </div>
            <div class="col-8">
                <div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-offset="0" class="scrollspy-example offset-md-2 mb-4"
                    tabindex="0"  style="height: 400px; overflow-y: scroll;">                    

                    {% for cargo in cargos %}                    
                        <h4 id="{{cargo}}">{{cargo}}</h4>

                        {% for miembro in listamiembros %}
                            {% if miembro.cargo == cargo %}
                            <div class="card-body">
                                <img src="{{ miembro.foto.url }}" alt="" width="60px" height="60px" class="border border-secondary border-3 rounded-circle">
                                <p>{{miembro.nombre}} {{miembro.apellido}}</p>   
                            </div>
                            
                        {% endif %}
                    {% endfor %}


                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
</body>
<!-- <div class="container">

    <h3>Miembros de la Cámara de Comercio de Villa Ángela</h3>
    
    <main class="container d-flex aling-center">
        <div class="row">
        {% for m in listamiembros %}
        <div class="col-12 mb-2"> 
            
           
                
                <article class="card h-100 border border-info">
                    <div class="card-body">
                        <div class="mb-3 d-flex">
                            <img src="{{ m.foto.url }}" alt="" width="60px" height="60px" class="border border-secondary border-3 rounded-circle">
                                <div class="ps-3">
                                    <h5 class="m-0">{{m.nombre}} {{m.apellido}}</h5>
                                    <p class="p-0 h6">{{ m.cargo }}</p>
                                </div>
                        </div>
                    </div>
                </article>
                
            </div>                
        
        {% endfor %}
    </div>
    </main>
</div> -->

{% endblock %}